html{
    font-size: 30px;
}

@font-face{
    font-family:'Monksie20';
    src:url("Monksie20-Regular.otf") format("opentype")
}

body{    
    font-family: Monksie20;
    margin: 0px;
    background: rgb(2, 103, 175);
    font-size: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-shadow: 0 0 10px #004f87;
    text-align: center;
    background-image: url("../images/ocean-bg.jpg");
    background-size: cover;
    background-position: center;
    padding-bottom: 200px;
}

a{
    color: #ffd902;
    text-decoration: none;
}

.fa-star{
    color: #ffd902;
}

main{
    width: 1200px;
}

h1{
    font-size: 1rem;
}

h2, .big-quote{
    font-size: 1.25rem;
}

h1 span{
    color: transparent;
    text-shadow: none;
    font-size: 0;
}


h1 img{
    width: 1200px;
}

.show-info{
    background: #fff;
    color: black;
    text-shadow: 0 0 black;
    padding: 20px;
    border-radius: 50px;
    text-align: initial;
    font-family: 'Monksie20';
    box-shadow: 0 0 30px #00204c;
    margin-top: 100px;
}

.show-info a{
    background: #e3719e;
    padding: 20px;
    display: inline-block;
    border-radius: 100px;
    width: calc(50% - 80px);
    text-align: center;
    border: 20px solid #fff;
}


main li{
    list-style: none;
    padding-top: 30px;
}

main li p{
    margin: 0;
}

main li a{
    display: block;
    margin-top: 20px;
    font-size: 1.5rem;
}

span.four .fa-star:nth-child(5){
    display: none;
}

span.none .fa-star{
    display: none;
}

.mermaid-gallery div.css-dvst2w{
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 300px 300px;    

}


/* Mobile */
@media only screen and (max-width: 1000px) {
    main, h1 img{
        width: 100%;
    }

    .big-quote, h2, p, main li a {
        font-size: 20px;
        width: 90%;
        margin: 5%;
    }

    .fa-star{
        font-size: 20px;
    }

    .mermaid-gallery{
        padding: 20px;        
    }
    
    .mermaid-gallery div.css-dvst2w{
        grid-template-columns: 100%;
    }

    ul{
        padding: 0;;
    }

    .show-info{
        margin: 20px;
    }

    .show-info a{
        width: calc(100% - 40px);
        border: 0;
        margin-top: 20px;
    }

    iframe{
        width: 90%;
        margin: 5%;
    }

}



