html{
    font-size: 30px;
}

@font-face{
    font-family:'Monksie20';
    src:url("Monksie20-Regular.otf") format("opentype")
}

body{    
    font-family: Monksie20;
    margin: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-shadow: 0 0 10px #004f87;
    text-align: center;
    padding-bottom: 200px;
}

.bg{
    background-image: url("../images/ocean-bg.jpg");
    background-size: cover;
    background-position: 0 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

p{
    margin: 10px;
}

div{
    background: transparent;
}

a{
    display: none;
}

main a{
    display: inline;
    color: #ffd902;
    text-decoration: none;
}

menu{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}

menu a.main_links{
    background: #e05b90;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 100px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.24);
    text-shadow: 0 0 10px #852049;
    font-size: 1rem;
}

a.main_links:hover{
    background: #ca3d76;
}

menu a.main_links.industry{
    position: fixed;
    top: 0;
    right: 0;
    background: #1047ad;
    color: white;
}

.fa-star{
    color: #ffd902;
}

main{
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1rem;
}

main h1{
    font-size: 1.5rem;
    flex: 100%;
    margin-bottom: 0;
}

h1.home_h1{
    font-size: 1rem;
}

main h2{    
    color: #ffd804;
    margin: 0;
    width: 75%;
    margin-top: -40px;
}

h2 span{
    color: white;
    font-size: 1rem;
}

.big-quote{
    font-size: 1.25rem;
    flex:100%;
    margin: 0;
}

h1 span{
    color: transparent;
    text-shadow: none;
    font-size: 0;
}

h1 img{
    width: 1200px;
}

.show-info{
    background: #fff;
    color: black;
    text-shadow: 0 0 black;
    padding: 20px;
    border-radius: 50px;
    text-align: initial;
    font-family: 'Monksie20';
    box-shadow: 0 0 30px #00204c;
    margin-top: 100px;
}

.show-info a{
    background: #e3719e;
    padding: 20px;
    display: inline-block;
    border-radius: 100px;
    width: calc(50% - 80px);
    text-align: center;
    border: 20px solid #fff;
}


main li{
    list-style: none;
    padding-top: 20px;
}

main li p{
    margin: 0;
}

main li a{
    display: block;
    margin-top: 20px;
    font-size: 1.5rem;
}

span.four .fa-star:nth-child(5){
    display: none;
}

span.none .fa-star{
    display: none;
}

.mermaid-gallery div.css-dvst2w{
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 300px 300px;    

}

iframe{
    width: 50%;
    margin: 20px 25%;
}

blockquote{
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    justify-content: center;
}

blockquote span{
    margin-right: 5px;
}

figcaption{
    font-size: 0.75rem;
    color: #f7bca7;
}

section{
    background: white;
    color: black;
    text-shadow: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
    font-size: 0.65rem;
    text-align: left;   
    margin-top: 20px;
}

section h1{
    font-size: 0.8rem;
}

section p{
    margin-bottom: 25px;
    font-size: 0.5rem;
}

section ul{
    margin: 0;
    
}

section ul li{
    list-style: disc;
    padding: 0;
    font-size: 0.5rem;
}

section a{
    color:#0376d0;
}

.siteTag{
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
}

video{
    margin-top: 20px;
}

/* Mobile */
@media only screen and (max-width: 1000px) {    
    body, h1.home_h1, h2, h2 span{
        font-size: 0.75rem;
    }

    iframe{

    }

    .siteTag{
        display: none;
    }

    main, h1 img{
        width: 100%;
    }

    main{
        padding-top: 2rem;
    }

    main img{
        width: 90%;
        margin: 5%;
    }

    main li p{
        margin: 5%;
    }

    .big-quote{
        font-size: 1rem;
    }
    
    h2, p, main li a {
        width: 90% !important;
        margin: 5%;
    }

    menu{
        display: none;        
    }

    menu li a.mobile{
        display: inline;        
    }

    main li {                
        padding-bottom: 30px;
    }

    .fa-star{
        font-size: 20px;
    }

    .mermaid-gallery{
        padding: 20px;        
    }
    
    .mermaid-gallery div.css-dvst2w{
        grid-template-columns: 100%;
    }

    ul{
        padding: 0;;
    }

    .show-info{
        margin: 20px;
    }

    .show-info a{
        width: calc(100% - 40px);
        border: 0;
        margin-top: 20px;
    }

    iframe{
        width: 90%;
        margin: 5%;
    }

    video{
        width: 100%;
    }


}



